.theme-container.study-notes-class{
  h1 {
    border: none;
  }

  h2 {
    border-bottom: 8px solid #666;
    margin-top: 32px;
  }

  h3 {
    border-bottom: 1px dotted #aaa;
    margin-top: 32px;
    padding-bottom: 4px;
  }
}