$accentColor = #2E6BE6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34


body {
  font-family: "游ゴシック Medium","Yu Gothic Medium","游ゴシック体","YuGothic","メイリオ", sans-serif !important
}

.theme-container .content{
  h1 {
    border: none;
  }

  h2 {
    border-bottom: 8px solid #666;
    margin-top: 32px;
  }

  h3 {
    border-bottom: 1px dotted #aaa;
    margin-top: 32px;
    padding-bottom: 4px;
  }
}