@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese&display=swap');

body {
  font-family: 'Noto Sans JP',"游ゴシック Medium","Yu Gothic Medium","游ゴシック体","YuGothic","メイリオ", sans-serif !important

  .theme-default-content code {
    font-family: 'Source Han Code JP', source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
    font-size: 0.8rem;
    overflow-wrap: break-word;
    padding: 0.15rem 0.5rem;
  }
}

.theme-container .theme-default-content{
  h2 {
    border-bottom: 8px solid #666;
    padding-bottom: 0.3rem;
  }

  h3 {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 0.3rem;
  }
}


.table-of-contents {
  background: #eee;
  padding: 5px 5px;
  border-radius: 6px;
  border: 1px solid #aaa;

  li {
    list-style-type: none;
  }
}
